* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  list-style: none;
  background: rgb(212, 87, 87);
  position: fixed;
  width: 100%;
}

#navbar li {
  display: flex;
  justify-content: flex-end;
}

#navbar li ul {
  padding: 1rem;
  font-size: 1.4rem;
}

#navbar li ul:hover {
  background: rgb(184, 9, 9);
  cursor: pointer;
}

#navbar li ul a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 330px) {
  #navbar li {
    display: flex;
    flex-direction: column;
  }
}

/* Welcome Section */

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(27, 26, 26);
  height: 100vh;
}

#welcome-section h1 {
  color: #fff;
  font-size: 4rem;
  padding: 1.4rem;
}

#welcome-section p {
  color: rgb(145, 40, 40);
  font-size: 2rem;
  font-style: italic;
}

/* Projects section */

#projects {
  display: grid;
  height: 100vh;
  text-align: center;
  background: #45567d;
  padding: 3rem;
}

.text-project {
  grid-column: 1 / 3;
  grid-row: 1;
  font-size: 1.6rem;
  color: rgb(201, 192, 192);
}

#projects img {
  height: 300px;
  width: 500px;
  object-fit: cover;
}
